name: Terraform PR FinOps Gate

on:
  pull_request:
    branches:
      - main
    paths:
      - '**/*.tf'

permissions:
  contents: read
  pull-requests: write
  id-token: write

jobs:
  finops:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 2

      - name: Install tools
        run: sudo apt-get update -qq && sudo apt-get install -y -qq jq bc

      - name: Authenticate to GCP
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: projects/464753796348/locations/global/workloadIdentityPools/github-pool/providers/github-provider
          service_account: github-terraform@siem-486017.iam.gserviceaccount.com

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Setup Infracost CLI
        uses: infracost/actions/setup@v3
        with:
          api-key: ${{ secrets.INFRACOST_API_KEY }}

      - name: Detect latest changed module
        id: detect
        run: |
          CHANGED=$(git diff --name-only HEAD~1 HEAD | grep '\.tf$' || true)

          if [ -z "$CHANGED" ]; then
            echo "No Terraform changes detected."
            exit 0
          fi

          MODULE=$(echo "$CHANGED" | head -n1 | xargs dirname)
          echo "MODULE=$MODULE" >> $GITHUB_ENV

      - name: Run FinOps Analysis
        env:
          GEMINI_API_KEY: ${{ secrets.GEMINI_API_KEY }}
          PR_NUMBER: ${{ github.event.pull_request.number }}
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          chmod +x scripts/run-module.sh
          bash scripts/run-module.sh "$MODULE"
